body {
    color: hsl(39, 60%, 83%);
    background: rgb(61, 63, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    color: rgb(221, 221, 221);
}

a:visited {
    color: rgb(192, 192, 192);
}

a:hover {
    color: white;
}

a:active {
    color: #b97220;
}

#barimage {
    width: 100%;
    border: 0;
}

#headerbar {
    position: fixed;
    width: 100%;
    margin: 0;
    height: 50px; 
}

#title {
    color: #f3b749;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

#gscore {
    font-weight: bold;
    font-size: 15px;
}

#yscore {
    font-weight: bold;
    font-size: 15px;
}

#gtotal {
    font-weight: bold;
    font-size: 18px;
}

#ytotal {
    font-weight: bold;
    font-size: 18px;
}

#losses1 {
    font-weight: bold;
    font-size: 15px;
}

#wins1 {
    font-weight: bold;
    font-size: 15px;
}

#losses2 {
    font-weight: bold;
    font-size: 18px;
}

#wins2 {
    font-weight: bold;
    font-size: 18px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

img {
    border: 3px solid #b97220;
}